{erl_opts, [{parse_transform, lager_transform}]}.
%{erl_opts, [debug_info, warnings_as_errors]}.
{eunit_opts, [verbose]}.

{port_specs, [{"priv/gdal_nif.so", ["c_src/*.c"]}]}.

{port_env, [
             {"CFLAGS", "$CFLAGS -std=c99 -fno-common -Wall -O -DGDAL_NIF_DEBUG"},
             {"LDFLAGS", "$LDFLAGS -lgdal"}
             ]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
       ]}.
